.about {
	@extend %clearfix;
}

.about__left {
	float: left;
	text-align: center; /* .about__pic - это элемент инлай-блок и мы его выравниваем по центру */
	width: 305px;
}

.about__pic {
	box-sizing: content-box;
	width: 220px; /* размеры задали, чтобы впихнуть большую картинку */
	height: 220px; /* размеры задали, чтобы впихнуть большую картинку */
	border: 5px solid #ffffff; 
    border-radius: 50%; /* скругляем картинку, задаем родителю и далее скрываем выходящее за его границу */
    overflow: hidden; /* скрываем выходящее за его границу */
    display: inline-block;
    background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}


.about__pic-photo{
	display: block;
	max-width: 100%; /* чтобы больше своего родителя картинка не растягивалась */
	position: absolute;
	right: 9999px;
}


.about__right {
	float: right;
	width: 380px;
}

.about__desc {
    height: 320px;
    overflow: auto;
    margin-bottom: 60px;
}

.text-block {
	font-family: "FiraSansLight";
}

.text-block p {
	margin-bottom: 8px;
	margin-top: 0;
}

.about__download {
	float: right;
}
